/* #222831 까만
#393E46 다크그레이
#00ADB5 청록
#EEEEEE 연회색 */

.App {
  display: flex;
  justify-content: center;
}

.container {
  
  
}

.JoinUs {
  background-color: #00ADB5;
  color: aliceblue;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  width: 100px;
  border: none;
  border-radius: 10px;
  
  
  
}

.item-box {
  background-color: #EEEEEE;
  margin: 10px;
  padding: 20px 20px 80px 20px;
  text-align: left;

}

.input {
  width: 120px;
}

.input-s {
  width: 40px;
}




.item {
  background-color: white;
}


.star {
  color: #00ADB5;
}

.JoinUsBtn {
  background-color: black;
  color: white;
  margin: 10px;
  width: 300px;
  height: 40px;
  border-radius: 10px;

}

.idCheck {
  text-align: center;
}

.loginBtn {
  border-top: none;
  border-left: none;
  border-right: none; 
  border-color: blue;
  border-width: 1.5px;
  color: blue;
  
}