/* #222831 까만
#393E46 다크그레이
#00ADB5 청록
#EEEEEE 연회색 */


.container {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.JoinUs {
  background-color: #00ADB5;
  color: aliceblue;
  font-size: xx-large;
  font-weight: bold;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin: 0 0 10px 180px;
  display: block;
  text-align: center;
  
}

.comments {
  color: red;
  font-size: 13px;
  margin: 0 0 10px 110px;
}

.comments2 {
  font-size: small;
  text-align: right;
}

.item-box {
  background-color: #EEEEEE;
  margin: 10px;
  padding: 20px 20px 20px 20px;
  text-align: left;
  border-style: groove;

}
.item-text {
  display: inline-block;
  width: 110px;
  padding-left: 10px;
}

.item-text1 {
  display: inline-block;
  width: 100px;
}

.item-text2 {
  display: inline-block;
  width: 90px;
}

.item-text3 {
  display: inline-block;
  width: 55px;
}

.input {
  width: 150px;
  margin: 0 10px 0 10px;
}

.input-e {
  width: 80px;
  margin-left: 10px;
}

.input-eList {
  width: 100px;
  margin: 0 10px 0 10px;
  
}

.input-s {
  width: 40px;
}

.input-end {
  width: 40px;
  margin-right: 10px;
}

.id, .pw, .pwCheck, .name, .email {
  margin: 10px 10px 0 10px;
}

.item {
  background-color: white;
  padding: 5px 15px 30px 15px;
}


.star {
  color: #00ADB5;

}


.phone-box {
  border: solid 1px #d8d7d7;
  padding: 10px;
  width: 385px;
  display: inline-block;
  margin: 0 10px 0 10px;
}

.addr-box {
  border: solid 1px #d8d7d7;
  padding: 10px;
  width: 385px;
  display: inline-block;
  margin: 10px 10px 0 10px;

}

.notGrid {
  padding-bottom: 15px;
}

.grid-box {
  display: grid;
  width: 300px;
  margin-left: 10px;
  grid-template-columns: 2, 5px;
  grid-template-rows: 10x;
  grid-template-areas: 
    "star phone-box"
}

.idCheck {
  font-size: small;
}

.check {
  width: 270px;
  height: 30px;
  border: none;
  padding: 5px 0 0 100px;
 
}

.JoinUsBtn {
  background-color: black;
  color: white;
  margin: 15px 0 10px 100px;
  width: 300px;
  height: 40px;
  border-radius: 10px;

}

.loginBtn {
  border-top: none;
  border-left: none;
  border-right: none; 
  border-color: rgba(49, 49, 235, 0.705);
  border-width: 1.5px;
  color: blue;
  
}