/* #222831 까만
#393E46 다크그레이
#00ADB5 청록
#EEEEEE 연회색 */


.container {
  display: flex;
  justify-content: center;
}

.JoinUs {
  background-color: #00ADB5;
  color: aliceblue;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin: 0 100px 20px 145px;
  
}

.item-box {
  background-color: #EEEEEE;
  margin: 10px;
  padding: 20px 20px 20px 20px;
  text-align: left;
  border-style: groove;

}

.input {
  width: 120px;
}

.input-s {
  width: 40px;
}

.id, .pw, .pwCheck, .name, .email {
  margin: 10px 10px 0 10px;
}

/* .phone-box {

} */




.item {
  background-color: white;
  padding: 20px 15px 20px 15px;
}


.star {
  color: #00ADB5;
}

.check {
  width: 260px;
  height: 30px;
  border: none;
  padding: 5px 0 0 100px;
 
}

.JoinUsBtn {
  background-color: black;
  color: white;
  margin: 15px 40px 10px 60px;
  width: 300px;
  height: 40px;
  border-radius: 10px;

}

.loginBtn {
  border-top: none;
  border-left: none;
  border-right: none; 
  border-color: blue;
  border-width: 1.5px;
  color: blue;
  
}